
<%= form_for @shop,  local: true do |f| %>
        <li><%= f.label :name %><%= f.text_field :name %></li>
        <li><%= f.label :address %><%= f.text_field :address %></li>
        <%= f.hidden_field:user_id, value: current_user.id %>
<li><%= f.submit %></li></div>
<% end %>
