
<%= form_for @shop,  local: true do |f| %>
  <%= f.hidden_field:user_id, value: current_user.id %>
  <li><%= f.label :name %><%= f.text_field :name %></li>
  <li><%= f.label :address %><%= f.text_field :address %></li>
  <li><%= f.submit %></li>
  <li><%= link_to "戻る", recipes_path %></li>
<% end %>
