

<div class="container">
<h2><%= t('shop.index')%></h2>
  <%= search_form_for @q  do |s| %>
    <li id="search"><%= s.label :name_cont, t('shop.name') %>
    <%= s.search_field :name_cont %>
    <%= s.submit t('header.search') %></li>
  <% end %>

  <table class="shop">
    <tr><th><%= t('shop.name')%></th><th><%= t('shop.address') %></th><th><%= t('view.created')%></th><th></th></tr>
    <% @shops.each do |shop| %>
    <tr><td><%= shop.name %></td><td><%= shop.address %></td><td><%= shop.created_at.strftime('%Y/%m/%d') %>
      <td><%= link_to t('view.edit'),edit_shop_path(shop.id) if current_user.id == shop.user_id %></td></tr>
    <% end %>
  </table>
</div>
