

<%= form_with model:@recipe, url: choose_new_or_edit, local: true do |f| %>
        <% if @recipe.picture.url.present? %>
          <li><%= image_tag @recipe.picture.url %></li>
          <li><%= f.label 'delete' %><%= f.check_box :remove_picture %></li>
        <% else %>
          <li><%= f.label t('recipe.picture') %></li>
          <li><%= f.file_field :picture %></li>
        <% end %>

        <%= f.hidden_field:user_id, value: current_user.id %>
        <li><%= f.label t('recipe.name') %><%= f.text_field :name%></li>
        <li><%= f.label t('recipe.curry_type') %><%= f.select :curry_type,
            Recipe.curry_types_i18n.keys.map{|k| [Recipe.curry_types_i18n[k], k]} , include_blank: '選択して下さい' %></li>
        <li><%= f.label t('recipe.content') %><%= f.text_area :content %></li>
        <%= select_tag :shop_id, options_from_collection_for_select(Shop.all,:id,:name), class: "search_box" , include_blank: '選択して下さい'%></li>




  <div>

<%= f.label t('material.name') %><%= f.label t('material.amount') %>
            <%= f.nested_fields_for :materials do |material| %>
              <li id="button"><%= material.text_field :name %><%= material.text_field :amount %>
              <%= material.remove_nested_fields_link t('view.delete'), role: 'button' %></li>
            <% end %>
      <%= f.add_nested_fields_link :materials,  t('view.add'), role: 'button'%>
<div>
<ol>
<div>
<%= f.nested_fields_for :flows do |flow| %>
<li></li>
<table>
  <tr><%= flow.label t('flow.picture') %><%= flow.file_field :picture %></tr>
  <tr><%= flow.label t('flow.content') %><%= flow.text_area :content %></tr>
  <tr><%= flow.remove_nested_fields_link  t('view.delete'), role: 'button' %></tr>
  </table><br>
<% end %>
</div>
</ol>

<p>  <%= f.add_nested_fields_link :flows, t('view.add'), role: 'button'%><p>
  </div>

<div class="submit">
<li><%= f.submit %></li></div>
<% end %>
