
<%= form_with model:@recipe, url: choose_new_or_edit, local: true do |f| %>
  <div class="row content">
  <div class="col-md-6">
   <div class="subject">データ</div>
      <table class="data">
        <% if @recipe.picture.url.present? %>
          <tr>
            <th></th><td><%= image_tag @recipe.picture.url %></td>
          </tr>
          <tr>
            <th><%= f.label t('view.delete') %></th>
            <td><%= f.check_box :remove_picture %></td>
          </tr>
        <% else %>
          <tr>
            <th><%= f.label t('recipe.picture') %></th>
            <td><%= f.file_field :picture %></td>
          </tr>
        <% end %>
        <%= f.hidden_field:user_id, value: current_user.id %>
        <tr>
          <th><%= f.label t('shop.name') %></th>
          <td><%= f.collection_select :shop_id, Shop.all, :id, :name, include_blank: false, prompt:true %></td>
        </tr>
        <tr>
          <th><%= f.label t('recipe.name') %></th>
          <td><%= f.text_field :name%></td>
        </tr>
        <tr>
          <th><%= f.label t('recipe.curry_type') %></th>
          <td><%= f.select :curry_type,
            Recipe.curry_types_i18n.keys.map{|k| [Recipe.curry_types_i18n[k], k]} , include_blank: false, prompt: true %></td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-6">
        <p class="subject"><%= t('recipe.content') %></p>
        <p class="data"><%= f.text_area :content, placeholder: "１００文字以内" %></p>
      </div>
  </div>


<% #材料　%>
<div class="row">
  <div class="col-md-6">
    <div class="subject"><%=  t('material.name') %></div>
      <div class="add"><button type="button" class=" btn btn-warning btn-sm"><%= f.add_nested_fields_link :materials,  t('view.add'), role: 'button'%></button></div>
      <div class="data">
        <%= f.nested_fields_for :materials do |material| %>
          <div id="material"><span><%= material.text_field :name, placeholder: "材料名" %></span><span><%= material.text_field :amount, placeholder: "分量" %></span>
          <button type="button" class=" btn btn-danger  btn-sm"><%= material.remove_nested_fields_link t('view.delete'), role: 'button' %></button>
        <% end %>
      </div>
  </div>

<% #調理方法　%>
  <div class="col-md-6">
    <div class="subject"><%= t('flow.content') %></div>
      <div class="add"><button type="button" class=" btn btn-warning btn-sm"><%= f.add_nested_fields_link :flows, t('view.add'), role: 'button'%></button></div>
      <div class="data" id="flow">
      <ol>
      <%= f.nested_fields_for :flows do |flow| %>
        <li><%= t('flow.content') %><span id="d_btn"><button type="button" class=" btn btn-danger btn-sm"><%= flow.remove_nested_fields_link  t('view.delete'), role: 'button' %></button></span></li>
          <span><%=  t('flow.picture') %><%= flow.file_field :picture %></span>
          <span><%= flow.text_area :content, placeholder: "１００文字以内" %></span>
      <% end %>
      </ol>
  </div>
  <div id="submit"><%= f.submit %><%= link_to "", recipes_path %></div>
</div>
<% end %>
