<h1><%= t('recipe.index')%></h1>
<% @recipes.each do |recipe| %>
  <div class="recipe_box">
  <div class="picture">
    <li><%= image_tag recipe.picture.url if recipe.picture.url.present? %></li>
  </div>
  <div class="recipe_info">
    <li><%= Shop.find(recipe.shop_id).name %>風</li>
    <li>：<%= recipe.name %></li>
    <li><%= t('recipe.curry_type') %><%= recipe.curry_type %></li>
    <li>post by <%= User.find(recipe.user_id).name %></li>
    <li><%= t('view.update') %><%= recipe.updated_at.strftime('%Y/%m/%d') %></li>
    <li id="button"><%= link_to t('recipe.show'),recipe_path(recipe.id), role: 'button'%></li>
  </div>
  </div>
<% end %>
