<div class="container"> 
 <% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe.id) do %>
  <div class="recipe_box">
    <div class="picture">
      <% if recipe.picture.url.present? %>
        <div><%= image_tag recipe.picture.url %></div>
      <% else %>
        <div><%= image_tag 'no_photo.png', size: '50x50' %></div>
      <% end %>
    </div>
    <div class="recipe_inf" >
      <ul>
        <li id="inf_1"><%= "#{recipe.shop.name}風" %><%= recipe.name %></li>
        <li id="inf_2"><%= t('view.post') %><%=  recipe.user.name %></li>
        <li id="inf_2"><%= t('view.update') %><%= recipe.updated_at.strftime('%Y/%m/%d') %></li>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
</div>