<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<table>
<% @recipes.each do |recipe| %>
  <tr><th>レシピ</th><td><%= recipe.name %></td></tr>
  <tr><th>内容</th><td><%= recipe.content %></td></tr>
  <tr><th>タイプ</th><td><%= recipe.curry_type %></td></tr>
  <tr><th></th><td><%= recipe.updated_at.strftime('%Y/%m/%d') %></td></tr>
  <tr><th></th><td><%= link_to "show",recipe_path(recipe.id) %></td></tr>
  <tr><th></th><td><%= link_to "delete",recipe_path(recipe.id),method: :delete %></td></tr>
  <tr><th></th><td>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</td></tr>
<% end %>
</table>

<%= link_to "new",new_recipe_path %>
