<h1>Recipes#new</h1>
<p>Find me in app/views/recipes/new.html.erb</p>

<% @recipe.errors.full_messages.each do |msg| %>
  <div><%= msg %></div>
<% end %>

    <%= form_for @recipe do |f| %>
    <table>
        <tr><th><%= f.label :レシピ名 %></th>
            <td><%= f.text_field :name %></td></tr>

        <tr><th><%= f.label :説明 %></th>
        <td><%= f.text_area :content %></td></tr>

        <tr><th><%= f.label :タイプ %></th>
        <td><%= f.select :curry_type ,Recipe.curry_types.keys,{} %></td></tr>

        <tr><th><%= f.label :画像 %></th>
        <td><%= f.file_field :picture %></td></tr>
    </table>

        <%= f.fields_for :materials do |material| %>
        <table>
            <tr><th><%= material.label :name %></th>
                <td><%= material.text_field :name %></td></tr>

            <tr><th><%= material.label :説明 %></th>
                <td><%= material.text_field :amount %></td></tr>
        </table>
        <% end %>
      <%= f.submit %>
<% end %>
