<h1>Recipes#show</h1>

<%= image_tag @recipe.picture.url  if @recipe.picture.url.present? %>
<%= @recipe.name %>
<table>
  <tr><th>素材</th><th></th></tr>
  <% @recipe.materials.each do |material|  %>
  <tr><td><%= material.name %></td>
  <td><%= material.amount %></td></tr>
  <% end %>
</table>
<table>
  <% @recipe.flows.each_with_index do |flow,i| %>
  <tr><th><%= i + 1 %>.</th></tr>
  <tr><th></th><td><%= image_tag flow.picture.url if flow.picture.url.present?  %></td></tr>
  <tr><th></th><td><%= flow.content %></td></tr>
  <% end %>
</table>

<% unless @recipe.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', recipe_like_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする',  recipe_likes_path(recipe_id: @recipe.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id ="comments_area">
<%= render partial: 'comments/index', locals: {comments: @comments, recipe: @recipe} %>
<%= render partial: 'comments/form', locals: {comment: @comment, recipe: @recipe} %>
</div>
<%= link_to "edit",edit_recipe_path(@recipe.id) %>
<%= link_to "delete",recipe_path(@recipe.id),method: :delete %>
<%= link_to '戻る', :back %>
