<h1><%= t('header.mypage') %></h1>
<li><%= link_to t('view.edit') , edit_user_path(@user.id) %></li>
<div class="f-container">
  <div class="">
    <%= image_tag @user.picture.url if @user.picture.url.present? %>
  </div>
  <li><%= @user.name %></li>

</div>

<li>投稿</li>
<% @recipes.each do |recipe| %>
  <div class="recipe_box">
  <div class="picture">
    <li><%= image_tag recipe.picture.url if recipe.picture.url.present? %></li>
  </div>
  <div class="recipe_info">
    <li><%= recipe.name %></li>
    <li><%= t('recipe.curry_type') %><%= recipe.curry_type %></li>
    <li><%= t('view.update') %><%= recipe.updated_at.strftime('%Y/%m/%d') %></li>
    <li id="button"><%= link_to t('recipe.show'),recipe_path(recipe.id), role: 'button'%></li>
  </div>
  </div>
<% end %>
<div class="">
<%= t('view.like') %>
  <% @recipe_likes.each do |like| %>
  <div class="recipe_box">
    <div class="picture">
  <%= image_tag like.recipe.picture.url if like.recipe.picture.url.present? %>
  </div>
  <li><%= like.recipe.name %></li>
<li>  <%= like.recipe.content %></li>
  <li><%= like.recipe.curry_type %></li>
  <li><%= like.recipe.updated_at.strftime('%Y/%m/%d') %></li>
  <<li><%= link_to t('view.show'),recipe_path(like.recipe.id) %></li>
<% end %>
</div>
