<!DOCTYPE html>
<html>
  <head>
    <title>Spice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
      <% if user_signed_in? %>
        <header class="header">
        <nav>
          <li id="logo">Yellow Spice Orchestra</li><li></li>
          <li><%= link_to t('header.top'), recipes_path %></li><li>|</li>
          <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete %></li><li>|</li>
          <li><%= link_to t('header.mypage'),user_path(current_user.id) %></li><li>|</li>
          <li><%= link_to t('shop.index'),shops_path %></li><li>|</li>
          <li><%= link_to t('shop.new'),new_shop_path %></li><li>|</li>
          <li><%= link_to t('recipe.new'),new_recipe_path %></li>
        </nav>
        </header>
      <% else %>
      <header class="header">
      <nav>
        <li><%= link_to t('header.signup'), new_user_registration_path %></li>
        <li><%= link_to t('header.login'), new_user_session_path %></li>
      </nav>
    </header>
      <% end %>
<body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
