<!DOCTYPE html>
<html>
  <head>
    <title>Spice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
      <% if user_signed_in? %>
      <nav>
        <li><%= link_to t('header.top'), recipes_path %></li><li>|</li>
        <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete %></li><li>|</li>
        <li><%= link_to t('header.mypage'),user_path(current_user.id) %></li><li>|</li>
        <li id="new_button"><%= link_to t('recipe.new'),new_recipe_path %></li>
        <div class="search">
            <%= search_form_for @search, url: recipes_path do |f| %>
            <li><%= f.label t('recipe.curry_type') %>
            <li><%= f.select :curry_type_eq ,Recipe.curry_types.map{|k,v| [Recipe.curry_types_i18n[k], v]}, include_blank: true%></li>
            <li><%= f.submit t('header.search') %></li>
          <% end %>
        </div>
</nav>
</header>
      <% else %>
      <header class="header">
      <nav>
        <li><%= link_to "sing up", new_user_registration_path %></li>
        <li><%= link_to "login", new_user_session_path %></li>
      </nav>
    </header>
      <% end %>
<body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
